*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #FAFCFF;
}

/*==================== google fonts ===============================*/
.noto{
   font-family: "Noto Serif", serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

/*====================== common style =================================*/
.container{
  max-width: 1140px;
  margin: 0 auto;
}

/* ========================navbar ===================================== */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.nav ul{
  display: flex;
  gap: 40px;
}
.nav ul li{
  list-style: none;
}
.nav ul li a{
  text-decoration: none;
  color: #8987A1;
  font-size: 1.1rem;
}
.active{
  color: #252432 !important;
  font-weight: 600;
}
.cart{
  color: #000 !important;
}



/*======================== mobile responssive====================*/
@media screen and (max-width:576px) {
  html, body{
  overflow-x: hidden;
  }
  .navbar{
    margin: 12px 15px;
  }
  .nav li:nth-child(-n+3){
    display: none;
  }
  
}

