*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F8FF;
}

/*==================== google fonts ===============================*/
.noto{
   font-family: "Noto Serif", serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

/*====================== common style =================================*/
.container{
  max-width: 1140px;
  margin: 0 auto;
}

/*========================navbar =====================================*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.nav ul{
  display: flex;
  gap: 40px;
}
.nav ul li{
  list-style: none;
}
.nav ul li a{
  text-decoration: none;
  color: #8987A1;
  font-size: 1.1rem;
}
.active{
  color: #252432 !important;
  font-weight: 600;
}
.cart{
  color: #000 !important;
}

/*==================== banner section ============================*/
.banner{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content h1{
  color: #000000;
  font-weight: bold;
  font-size: 4rem;
}
.left-content span{
  color: #E95A08;
}
.left-content p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-top: 13px;
}


/* ====================== Plants Section =========================== */
.plant-heading{
  margin-top: 120px;
  text-align: center;
}
.plant-heading h1{
  font-weight: bold;
  font-size: 3.125rem;
}
.our{
 color: #E95A08; 
}
.plant-heading p{
  color: rgba(0, 0, 0, 0.5);
font-size: 1.4rem;
width: 888px;
margin: 16px auto;
}

/*==================== card ===================================*/
.card-parents{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 2px;
  
}
.card{
  margin-bottom: 30px;
  width: 270px;
  height: 484px;
}
.card h3{
  color: #111111;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}
.card h2{
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 20px;
}

.card button{
  width: 270px;
  background-color: #E95A08;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 13px 0px;
  border: none;
  margin-top: 30px;
}


/*======================== mobile responssive====================*/
@media screen and (max-width:576px) {
  html, body{
  overflow-x: hidden;
  }
  .navbar{
    margin: 12px 15px;
  }
  .nav li:nth-child(-n+3){
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
  }
 .right-content img{
  margin-top: -170px;
  width: 100%;
 } 
 .left-content h1{
  margin-left: 16px;
  font-size: 2.3rem;
  margin-top: 28px;
 }
 .left-content p{
  margin: 16px;
 }
 .plant-heading p{
  width: 340px;
 }
.plant-heading h1{
  margin-top: -20px;
}
 .card-parents{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 grid-gap: 5px;
 justify-items: center;
 
 }
 .card img{
  width: 100%;
 }
 .card{
  width: 171px;
  margin-bottom: -58px;
}
.card button{
  width: 171px;
}
}

