*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F5F8FF;
}

/*==================== google fonts ===============================*/
.noto{
   font-family: "Noto Serif", serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

/*====================== common style =================================*/
.container{
  max-width: 1140px;
  margin: 0 auto;
}

/*========================navbar =====================================*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.nav ul{
  display: flex;
  gap: 40px;
}
.nav ul li{
  list-style: none;
}
.nav ul li a{
  text-decoration: none;
  color: #8987A1;
  font-size: 1.1rem;
}
.active{
  color: #252432 !important;
  font-weight: 600;
}
.cart{
  color: #000 !important;
}

/*==================== banner section ============================*/
.banner{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content h1{
  color: #000000;
  font-weight: bold;
  font-size: 4rem;
}
.left-content span{
  color: #E95A08;
}
.left-content p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-top: 13px;
}
.right-content {
}


/*======================== mobile responssive====================*/
@media screen and (max-width:576px) {
  html, body{
  overflow-x: hidden;
  }
  .navbar{
    margin: 12px 15px;
  }
  .nav li:nth-child(-n+3){
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
  }
 .right-content img{
  margin-top: -170px;
  width: 100%;
 } 
 .left-content h1{
  margin-left: 16px;
  font-size: 1.9rem;
  margin-top: 28px;
 }
 .left-content p{
  margin: 16px;
 }
}

